.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 24px;
	height: 80vh;
}

.flexRow {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.flexColumn {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.profileFlex {
	display: flex;
	align-items: center;
	gap: 60px;
}

.flexForm {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 30px;
}

.profileNav {
	display: flex;
	flex-direction: column;
	max-width: 320px;
	font-size: 24px;
	text-align: left;
}

.profileInput {
	display: flex;
	flex-direction: column;
	gap: 24px;
}

.navLink {
	color: #8585ad;
	font-size: 24px;
	text-decoration: none;
	cursor: pointer;
}

.active {
	color: white;
}
