.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 24px;
	height: 80vh;
}

.containerRow {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 24px;
	height: 80vh;
}

.flexRow {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.flexRowGap {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 16px;
}

.flexColumn {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.profileFlex {
	display: flex;
	align-items: center;
	gap: 60px;
}

.flexForm {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 30px;
}

.profileNav {
	display: flex;
	flex-direction: column;
	max-width: 320px;
	font-size: 24px;
	text-align: left;
}

.profileInput {
	display: flex;
	flex-direction: column;
	gap: 24px;
}

.navLink {
	color: #8585ad;
	font-size: 24px;
	text-decoration: none;
	cursor: pointer;
}

.active {
	color: white;
}

.orderBlock {
	display: flex;
	flex-direction: column;
	width: 584px;
	max-height: 700px;
	overflow: hidden scroll;
}

.twoColumnList {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 1rem;
	list-style: none;
}

.noStyleList {
	margin: 0;
	padding-left: 0;
	list-style-type: none;
}

.noStyleListColor {
	margin: 0;
	padding-left: 0;
	color: #00cccc;
	list-style-type: none;
}

.modalInfo {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: 82%;
	max-width: 1000px;
}

.modalNumber {
	top: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.ingredientModal {
	display: flex;
	flex-direction: column;
	width: 80%;
	max-width: 1000px;
	max-height: 340px;
	overflow: hidden scroll;
}

.blockTimeTotal {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 80%;
	max-width: 1000px;
	margin: 30px 0;
}

.modalContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}
