.header {
	background-color: var(--background);
}

.menu {
	display: flex;
	align-items: center;
	max-width: 1240px;
	height: 56px;
	margin: 0 auto;
}

.menu_part_left {
	display: flex;
	flex-basis: 35%;
}

.link {
	display: flex;
	color: var(--text-inactive-color);
	text-decoration: none;
}

.link_active {
	color: var(--text-primary-color);
}

.link_position_last {
	display: flex;
	flex-basis: 35%;
	justify-content: flex-end;
}

.logo {
	display: flex;
	align-items: center;
	margin: 0 auto;
}

.navLink {
	display: flex;
	align-items: center;
	margin: 10px 20px;
	color: #8585ad;
	font-size: 24px;
	text-decoration: none;
	cursor: pointer;
}

.active {
	color: white;
}
